div p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: slategray;
  background-color: bisque;

  width: 30%;
  padding: 10px;
  text-align: center;

  border: 2px double grey;
  border-radius: 3px;
}
